/* ------------------------------------------------------------------
   ADD RECIPE STYLSHEET
   ------------------------------------------------------------------ */

#AddRecipes QScrollArea {border: none;}


