/* ------------------------------------------------------------------
   ADD RECIPE STYLSHEET
   ------------------------------------------------------------------ */
#AddRecipeContent {
    background-color: {surface};
    border: none;
}

#AddRecipes QScrollArea {
    border: none;
}




