/* ------------------------------------------------------------------
   ADD RECIPE STYLSHEET
   ------------------------------------------------------------------ */

#AddRecipes QScrollArea {border: none;}

#AddRecipes QLineEdit:focus {border: 4px solid {primary};}

