/* ------------------------------------------------------------------
   CARD WIDGET STYLING
   ------------------------------------------------------------------ */

[card="Default"] {
    background-color: {surface_container};
    border: none;
    border-radius: 10px;
}

[card="Default"] QLabel {
    background-color: {surface_container};
    color: {on_surface_variant};
}

[card="Default"] QLabel#Header {
    font: {header_small};
}


