/* ------------------------------------------------------------------
   CARD WIDGET STYLING
   ------------------------------------------------------------------ */

[tag="Card"] {
    background-color: {surface_container};
    border: none;
    border-radius: 10px;
}

Card QLabel#Header {
    font: {header_small};
    color: {on_surface};
}

Card QLabel#Subheader {
    font: {subheader};
}

QLabel {
    background-color: transparent;
    color: {on_surface_variant};
}
