/* ------------------------------------------------------------------
   COMBOBOX STYLSHEET
   ------------------------------------------------------------------ */





#ShoppingList ComboBox {background-color: {surface}; border-radius: 6px;}

#ImageGenerationSettings ComboBox {background-color: {surface}; border-radius: 6px;}





