/* ------------------------------------------------------------------
   RECIPE TAG STYLING
   ------------------------------------------------------------------ */

#InfoCard {
    background-color: transparent;
    padding: 10px;
}


#InfoCardTitle {
    font: {default};
    color: {on_secondary_container};
    font-weight: bold;
}

#InfoCardValue {
    font: {default};
    color: {tertiary};
    font-weight: 400;
}
