/* ------------------------------------------------------------------
   RECIPE TAG STYLING
   ------------------------------------------------------------------ */

QFrame#Tag {
    background-color: {secondary_container};
    border-radius: 20px;
    padding: 8px 16px;
}

QLabel#RecipeTagText {
    background-color: transparent;
    font: {default};
    color: {on_surface};
    font-weight: 500;
}
