/* ------------------------------------------------------------------
   DIALOG WINDOW STYLING
   ------------------------------------------------------------------ */

#DialogWindow {
    background-color: {BACKGROUND_DEFAULT}; /* App Background Color */
    border: 0px solid {BORDER_DEFAULT}; /* App Window Border */
    border-radius: 0px; /* App Window Border Radius */
}

