/* ------------------------------------------------------------------
   INGREDIENT WIDGET STYLING
   ------------------------------------------------------------------ */
[class="IngredientWidget"] {
    border: none;
}

[class="IngredientWidget"] QToolButton {
    background-color: {BACKGROUND_WIDGET};
    border: none;
    border-radius: 6px;
    padding: 4px;
}

