[tag="Card"] {
    background-color: {surface_container};
    border: none;
    border-radius: 10px;
}

[tag="Card"] QLabel {
    background-color: transparent;
    color: {on_surface_variant};
}

QFrame[tag="Card"] QLabel[font="Header"] {
    font: {header_large} !important;
    color: {on_surface} !important;
}

QFrame[tag="Card"] QLabel[font="Subheader"] {
    font: {header_medium} !important;
    color: {on_surface_variant} !important;
}
