/* ------------------------------------------------------------------
   SHOPPING LIST STYLING
   ------------------------------------------------------------------ */

#ShoppingList {
    background-color: #3A4048;
    border-radius: 0px;
    padding: 15px;
}

#ShoppingList QWidget {
    background-color: {BACKGROUND_RAISED};
}


