/* ------------------------------------------------------------------
   VIEW RECIPES STYLING
   ------------------------------------------------------------------ */
#ViewRecipes {
    background-color: #3A4048;
    border: none;
    border-radius: 0px;
    padding: 15px;
}

#RecipeBrowser {
    background: transparent;
}

#RecipeBrowserScrollArea {
    background: transparent;
    border: none;
}

#RecipeBrowserContainer {
    background: transparent;
}





