/* ------------------------------------------------------------------
   DASHBOARD STYLING
   ------------------------------------------------------------------ */

#Dashboard{
   background-color: {CONTROL_CHECKED};
   border-radius: 0px;
   padding: 15px;
}





