/* - message_dialog.qss - */


#DialogWidget {
    background-color: #3A4048;
    /* Slightly lighter dark gray */
    color: #E1E1E3;
    border: 4px solid #3a3a3a;
    /* Padding */
}

#lbl_message {
    /* Font */
    font: 24px 'Montserrat';
    font-weight: bold;
    color: #E1E1E3;
}

#lbl_description {
    /* Font */
    font: 14px 'Montserrat';
    font-style: italic;
    font-weight: light;
    color: #9DA1A5;
}