/* RecipeWidget.qss */

#RecipeDialog #RecipeName {
    color: #1B1D23;
    font-family: 'Sakitu Baelah Clean';
    font-size: 80px;
    font-weight: 400;
}

#RecipeDialog [metaTitle="true"] {
    color: #040404;
    font-family: 'Montserrat Regular';
    font-size: 22px;
    font-weight: 400;
}

#RecipeDialog [textHeader="true"] {
    background-color: #2C313C;  /* or whatever color you want */
    color: #E1E1E1;               /* text color */
    padding: 16px;
    font-family: "Montserrat Bold";
    font-size: 16px;
    font-weight: 600;
}

#RecipeDialog [textIngredients="true"] {
    color: #040404;               /* text color */
    font-family: "Roboto Regular";
    font-size: 16px;
    font-weight: 300;
}

#RecipeDialog #DirectionsFrame {
    background-color: #2C313C;  /* or whatever color you want */
}

#RecipeDialog [textDirections="true"] {
    color: #E1E1E1;               /* text color */
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 300;
}

#RecipeStateFrame, #EmptyStateFrame, #ErrorStateFrame {
    background-color: #2C2F33;  /* Flat dark background */
    border-radius: 10px; /* Rounded corners */
}

#RecipeStateFrame QLabel {
    color: #E1E1E1;
    font-family: 'Montserrat Bold';
    font-size: 16px;
    font-weight: 600;

}

#RecipeStateFrame[layout_size="medium"] [title_text="true"] {
    font-size: 22px;
    font-weight: 600;
}

#RecipeStateFrame [label_text="true"] {
    color: #B0B0B0;
    font-family: 'Roboto Regular';
    font-weight: 400;
}

#RecipeStateFrame [value_text="true"] {
    color: #6ad7ca;
}



/* INTERACTIVE ELEMENTS */

#RecipeStateFrame:hover, #ErrorStateFrame:hover {
    background-color: #3A3D41; /* Slightly lighter on hover */
}

/*** RECIPE DIALOG ***/
#TitleBar {
    background-color: #1b1d23;
    border-top-left-radius: 0px; /* App Window Border Radius */
    border-top-right-radius: 0px; /* App Window Border Radius */
    border-bottom: 2px solid #343b48;
}

#TitleBar QLabel {
    padding-left: 10px;
    background-color: transparent;

    /* Font */
    font-size: 16px;
    font-weight: 600
}

#TitleBar QPushButton {
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 2px; /* Button Margin */

    /* Font */
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#TitleBar QPushButton:hover {
    background-color: #3B575B; /* Button Hover Background Color */
}
