/* ------------------------------------------------------------------
   SHOPPING LIST STYLING
   ------------------------------------------------------------------ */

#ShoppingList {
    background-color: green;
}

#ShoppingList QWidget{
    background-color: green;  
}
