/* ------------------------------------------------------------------
   VIEW RECIPES STYLING
   ------------------------------------------------------------------ */


#ViewRecipes QScrollArea {
   border: none;
}





